---
# yaml-language-server: $schema=https://www.schemastore.org/yamllint.json
extends: default

ignore: |
  .github/workflows
  templates/

rules:
  line-length: disable
  comments-indentation: false

  comments:
    min-spaces-from-content: 1

  document-end:
    level: error
  document-start:
    level: error

  indentation:
    spaces: 2

  braces:
    max-spaces-inside: 1

  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true

...
