---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: release

"on":
  workflow_dispatch:
  push:
    branches:
      - master

permissions:
  contents: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0

      - name: Setup helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4

      - name: Configure Git
        run: |
          git config user.name "GitHub Actions"
          git config user.email "github@cloudhippie.de"

      - name: Update readme
        uses: docker://jnorwood/helm-docs:v1.14.2@sha256:7e562b49ab6b1dbc50c3da8f2dd6ffa8a5c6bba327b1c6335cc15ce29267979c
        with:
          entrypoint: helm-docs

      - name: Write secring
        run: |
          echo -n "${{ secrets.GNUPG_SECRING }}" \
            | base64 --decode \
            > secring.gpg

      - name: Write passphrase
        run: |
          echo -n "${{ secrets.GNUPG_PASSWORD }}" \
            > passphrase

      - name: Run releaser
        uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f # v1.7.0
        env:
          CR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CR_KEYRING: secring.gpg
          CR_PASSPHRASE_FILE: passphrase
        with:
          config: cr.yaml
          charts_dir: stable

      - name: Push charts
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | helm registry login --username cloudhippiez --password-stdin ghcr.io

          if test -d .cr-release-packages; then
            for pkg in .cr-release-packages/*.tgz; do
              if [ -z "${pkg:-}" ]; then
                break
              fi

              echo "Pushing $pkg..."
              helm push "$pkg" "oci://ghcr.io/$GITHUB_REPOSITORY_OWNER/charts"
            done
          fi

      - name: Remove secrets
        if: always()
        run: |
          rm -f secring.gpg passphrase

...
