---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: testing

"on":
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          fetch-depth: 0

      - name: Setup python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version-file: .python-version

      - name: Setup sops
        uses: nhedger/setup-sops@187c90dbb4e28c3225263886266a5b92baa7e5a1 # v2

      - name: Setup testing
        uses: helm/chart-testing-action@main

      - name: Setup helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4

      - name: Helm plugins
        run: |
          helm plugin install https://github.com/jkroepke/helm-secrets

      - name: Decrypt secrets
        env:
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
        run: |
          for FILE in $(find stable -iname \*.enc); do
            helm secrets decrypt ${FILE} >| ${FILE%.enc}.yaml
          done

      - name: Detect testing
        id: detect
        run: |
          CHANGED=$(ct list-changed --config ct.yaml)

          if [[ -n "${CHANGED}" ]]; then
            echo "changed=true" >> "${GITHUB_OUTPUT}"
          fi

      - name: Run Linting
        run: |
          ct lint --config ct.yaml

      - name: Create kind
        if: steps.detect.outputs.changed == 'true'
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0

      - name: Run testing
        if: steps.detect.outputs.changed == 'true'
        run: |
          ct install --config ct.yaml

...
