---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: testing

"on":
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version-file: .python-version

      - name: Setup testing
        uses: helm/chart-testing-action@v2.7.0

      - name: Setup helm
        uses: azure/setup-helm@v4

      - name: Detect testing
        id: detect
        run: |
          CHANGED=$(ct list-changed --config ct.yaml)

          if [[ -n "${CHANGED}" ]]; then
            echo "changed=true" >> "${GITHUB_OUTPUT}"
          fi

      - name: Run Linting
        if: steps.detect.outputs.changed == 'true'
        run: |
          ct lint --config ct.yaml

      - name: Create kind
        if: steps.detect.outputs.changed == 'true'
        uses: helm/kind-action@v1.12.0

      - name: Run testing
        if: steps.detect.outputs.changed == 'true'
        run: |
          ct install --config ct.yaml

...
